<section id="RoundOne" *ngIf="isRoundOne">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="SelectPlayerOneMove" *ngIf="isRoundPlayerOne">
          <h2>Round One</h2>
          <h3>{{ namePlayerOne }}</h3>
          <form>
            <div class="form-group" style="font-size: large; width: 350px;">
              <label for="PlayerOneMove" style="float: left;">Select Move:</label>
              <select id="PlayerOneMove" class="form-control" (change)="onPlayerOneMoveChange($event.target.value)">
                <option *ngFor="let move of matchMoves" value={{move.id}}>
                  {{ move.name }}
                </option>
              </select>
            </div>

            <button type="button" (click)='onPlayPlayerOne()'
                    class="btn btn-primary">
              Ok
            </button>
          </form>
        </div>

        <div id="SelectPlayerTwoMove" *ngIf="isRoundPlayerTwo">
          <h2>Round One</h2>
          <h3>{{ namePlayerTwo }}</h3>
          <form>
            <div class="form-group" style="font-size: large; width: 350px;">
              <label for="PlayerTwoMove" style="float: left;">Select Move:</label>
              <select id="PlayerTwoMove" class="form-control" (change)="onPlayerTwoMoveChange($event.target.value)">
                <option *ngFor="let move of matchMoves" value={{move.id}}>
                  {{ move.name }}
                </option>
              </select>
            </div>

            <button type="button" (click)='onPlay()'
                    class="btn btn-primary">
              Ok
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

<app-round-two *ngIf="isRoundTwo" [PlayerOneData]="namePlayerOne" [PlayerTwoData]="namePlayerTwo"></app-round-two>
