<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile=".\logs\nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File" name="file" fileName="${currentdir}\logs\log-${shortdate}.json">
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false" quoting="Nothing">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="data">
          <layout xsi:type="JsonLayout">
            <attribute name="callsite" layout="${callsite:includeSourcePath=true}" />
            <attribute name="stacktrace" layout="${stacktrace:topFrames=10}" />
            <attribute name="exception" layout="${exception:format=ToString}"/>
          </layout>
        </column>
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="blob" />
  </rules>
</nlog>